### scrape table example 1

In [1]:
# uniform resource locator
url = 'https://keithgalli.github.io/web-scraping/webpage.html'

In [2]:
import requests
from bs4 import BeautifulSoup as bs 
import pandas as pd
import numpy as np

In [3]:
response = requests.get(url)
response

In [4]:
web_page = response.content
soup = bs(web_page)
#soup

### need to check on the website how to grab the table

In [5]:
# because its only one table on the website we can just look for table 
table_soup = soup.find("table")
table_soup

# just to be sure we are grabbing the right table we can add the class
table_soup = soup.find("table",attrs= {"class":"hockey-stats"})
table_soup

# pd.read_html returns a list of dataframes 
dfs = pd.read_html(str(table_soup))

# the first (and only df will be the table we got out of the soup object )
dfs[0]
table1 = dfs[0]
table1

<bound method DataFrame.replace of          S                        Team    League    GP    G     A    TP   PIM  \
0  2014-15  MIT (Mass. Inst. of Tech.)   ACHA II  17.0  3.0   9.0  12.0  20.0
1  2015-16  MIT (Mass. Inst. of Tech.)   ACHA II   9.0  1.0   1.0   2.0   2.0
2  2016-17  MIT (Mass. Inst. of Tech.)   ACHA II  12.0  5.0   5.0  10.0   8.0
3  2017-18                Did not play       NaN   NaN  NaN   NaN   NaN   NaN
4  2018-19  MIT (Mass. Inst. of Tech.)  ACHA III   8.0  5.0  10.0  15.0   8.0

   +/- Unnamed: 9  POST  GP.1  G.1  A.1  TP.1  PIM.1  +/-.1
0  NaN          |   NaN   NaN  NaN  NaN   NaN    NaN    NaN
1  NaN          |   NaN   NaN  NaN  NaN   NaN    NaN    NaN
2  0.0          |   NaN   NaN  NaN  NaN   NaN    NaN    NaN
3  NaN          |   NaN   NaN  NaN  NaN   NaN    NaN    NaN
4  NaN          |   NaN   NaN  NaN  NaN   NaN    NaN    NaN  >

In [6]:
# we dont even need a beautifulsoup -> we can just use Pandas -> this wont always work 

dfs = pd.read_html(url)
table1 = dfs[0]

# sometimes we will need this code or soup 
dfs = pd.read_html(requests.get(url).text)
dfs[0]

,S,Team,League,GP,G,A,TP,PIM,+/-,Unnamed: 9,POST,GP.1,G.1,A.1,TP.1,PIM.1,+/-.1
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17.0,3.0,9.0,12.0,20.0,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9.0,1.0,1.0,2.0,2.0,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12.0,5.0,5.0,10.0,8.0,0.0,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-18,Did not play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8.0,5.0,10.0,15.0,8.0,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#getting rid of NaN using numpy
table1.replace(np.NaN,"",inplace = True)
table1

,S,Team,League,GP,G,A,TP,PIM,+/-,Unnamed: 9,POST,GP.1,G.1,A.1,TP.1,PIM.1,+/-.1
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17,3,9,12,20,,|,,,,,,,
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9,1,1,2,2,,|,,,,,,,
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12,5,5,10,8,0,|,,,,,,,
3,2017-18,Did not play,,,,,,,,|,,,,,,,
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8,5,10,15,8,,|,,,,,,,